[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.0.12"
edition = "2021"
repository = "https://github.com/unavi-xyz/gltf_kun"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
bevy_gltf_kun = { path = "crates/bevy_gltf_kun", version = "0.0.12" }
glam = "0.25.0"
gltf_kun = { path = "crates/gltf_kun", version = "0.0.12" }
petgraph = { version = "0.6.4", default-features = false, features = ["stable_graph"] }
serde_json = "1.0.115"
thiserror = "1.0.59"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
lto = true
