[package]
name = "gltf_kun"
description="Graph-based glTF processing library."
keywords = ["gltf", "graph", "optimization"]
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[features]
default = ["omi_physics"]
omi_physics = []

[dependencies]
base64 = "0.22.0"
bevy_math = "0.14.0"
byteorder = "1.5.0"
gltf = { version = "1.4.0", features = ["extensions", "extras"] }
petgraph.workspace = true
serde = { version = "1.0.198", features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
tracing = "0.1.40"

[dev-dependencies]
tokio = { version = "1.37.0", features = ["full"] }
tracing-test = "0.2.4"
