[package]
name = "bevy_gltf_kun"
description = "Bevy glTF plugin using gltf_kun."
keywords = ["bevy", "gltf"]
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[lints.clippy]
too_many_arguments = "allow"
type_complexity = "allow"

[features]
default = ["omi_physics"]
omi_physics = ["dep:avian3d", "gltf_kun/omi_physics"]
register_extensions = []

[dependencies]
avian3d = { workspace = true, optional = true }
bevy = { version = "0.14.0", default-features = false, features = ["animation", "bevy_asset", "bevy_scene", "bevy_pbr"] }
gltf_kun.workspace = true
image = "0.25.1"
serde_json.workspace = true
thiserror.workspace = true
